# .editorconfig
root = true

[*]
# 禁用特定规则
dotnet_diagnostic.CA1001.severity = none
dotnet_diagnostic.CS8618.severity = none
dotnet_diagnostic.CS8600.severity = none
dotnet_diagnostic.CS0162.severity = none
dotnet_diagnostic.CS8765.severity = none
dotnet_diagnostic.CS8603.severity = none
dotnet_diagnostic.CS8602.severity = none
dotnet_diagnostic.CS8604.severity = none

